// Place all the styles related to the Groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.select_users {
  margin-bottom: 10px;
}
.select_users span {
  padding-bottom: 10px;
  max-height: 5px;
}

input.btn-primary {
  margin-top: 15px;
}
